@import './tools/variables';
@import './tools/mixins';

@import './base/reset';

@import './layout/nav';
@import './layout/header';
@import './layout/footer';
@import './layout/forms';

@import './pages/home';
@import './pages/contact';